@keyframes shiver {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(11px)
    }
    75% {
        transform: translateX(-11px)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes shimmy {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-33px)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        transform: scale(1.05)
    }
    70% {
        transform: scale(.9)
    }
    to {
        transform: scale(1)
    }
}

@keyframes pulseBadgeOpacity {
    0% {
        opacity: 1
    }
    85% {
        opacity: .6
    }
    to {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes riseandfadein {
    0% {
        opacity: 0;
        transform: translateY(22px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.P5GHlTF_g_nRABrZIkDp {
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-name: shiver;
    animation-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

.tONyHrP2YDJyDQd85Fqg {
    animation-duration: .1s;
    animation-iteration-count: 2;
    animation-name: shiver;
    animation-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

.IdAUPkiaY19MOTlpviMW {
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-name: shimmy;
    animation-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

.d0UWjabL5CAKuO0aDZr7 {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear
}

.Z4m_HIiKow8HpUwjYJGL {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: pulseBadgeOpacity;
    animation-timing-function: ease-in-out
}

.nJqNDgX4Kv25FEbMEzUa {
    animation-iteration-count: 1;
    animation-name: fadeout
}

.HeqMS50k1yQ1paLS3Omt {
    animation-iteration-count: 1;
    animation-name: fadein
}

.PcD_6ki8wTb0bMlVlM6D {
    animation-iteration-count: 1;
    animation-name: riseandfadein
}

.sxnirLym98luvI7awjFr {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20001
}

.yTF96KPYs1B2sis3xs2s {
    background-color: transparent;
    border-color: hsla(0, 0%, 100%, .15) hsla(0, 0%, 100%, .7) hsla(0, 0%, 100%, .7) hsla(0, 0%, 100%, .15);
    border-radius: 1000px;
    border-style: solid;
    border-width: 2px;
    display: block;
    height: 44px;
    width: 44px
}

.NY8O2Fx38ygD6nhQWSZI {
    background-color: rgba(0, 0, 0, .3);
    border: none;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    transition: background-color .1s ease-out;
    width: 100vw;
    z-index: 20000
}

.NY8O2Fx38ygD6nhQWSZI.iAqkdul8vA581s4SWs1A {
    background-color: transparent
}

.knuh1eIKC0lWdmtlBVbM {
    overflow: hidden
}